@import "../../common/section-shadow.scss";
.panel {
    
	.container {
        overflow-y: auto;
        &::-webkit-scrollbar {
			width: 0;
		}
        height: calc(100% - 10em);
		margin: 1em;
		.cards {
			margin-bottom: 1em;
			display: flex;
			justify-content: space-between;
			.card {
				background-color: #ffffff;
				width: 22%;
				@include section-shadow();
				> span:nth-of-type(1) {
					float: left;
					display: block;
					padding: 0.4em;
					font-size: 2.5em;
					color: #ffffff;
				}
				.para {
					float: left;
					margin-left: 1em;
					margin-top: 1em;
					.title {
						color: #444444;
					}
					.sub-title {
						margin-top: 0.2em;
						font-weight: bold;
						color: #444444;
					}
				}
				&:nth-of-type(1) {
					span {
						background-color: #ffc107;
					}
				}
				&:nth-of-type(2) {
					span {
						background-color: #009688;
					}
				}
				&:nth-of-type(4) {
					span {
						background-color: #17a2b8;
					}
				}
				&:nth-of-type(3) {
					span {
						background-color: #d40e10;
					}
				}
			}
		}
		.charts {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			.chart {
                margin-bottom: 1em;
				background-color: #ffffff;
                @include section-shadow();
                .title {
                    margin: 1em 0 0 1em;
                    color: #333333;
                    font-size: 1.2em;
                    font-weight: bold;
                }
                .content {
                    height: 25em;
                }
			}
			#chartA {
                width: 70%;
            }
            #chartB {
                margin-left: 1em;              
                width: calc(30% - 1em);
                .content {
                    padding: 1em;
                }
            }
            #chartC {
                width: 100%;
            }
		}
	}
}
