@import "table-common.scss";
.table {
	border: $border;
	.thead {
		.tline {
			background-color: #f8f8f9;
			border-bottom: $border;
			> div {
				font-weight: bold;
				color: #555555;
			}
		}
		.td-edit-column {
			width: calc(17em + 8px);
			float: left;
			padding: 0.5em;
			line-height: 1;
			border-left: $border;
			text-align: center;
		}
	}
	.tbody {
		&::-webkit-scrollbar {
			width: 8px;
		}
		&::-webkit-scrollbar-button {
            height: 0;
		}
		&::-webkit-scrollbar-track {
			background: #eeeeee;
		}
		&::-webkit-scrollbar-thumb {
			background: #cccccc;
			border-radius: 4px;
		}
		.tline {
			border-bottom: $border;
			> div {
				color: #666666;
			}
			&:nth-of-type(2n) {
				background-color: #f8f8f9;
			}
			&:hover {
				background-color: #ebf7ff;
			}
		}
	}
}
