@import 'table-common.scss';
.table {
    border: $border;
    .thead {
        .tline {
            background-color: #f8f8f9;
        }
    }
    .tbody {
        .tline {
            border-top: $border;
            &:nth-of-type(2n) {
                background-color: #f8f8f9;
            }
            &:hover {
                background-color: #ebf7ff;
            }
        }
    }
}